Flask
Flask-SQLAlchemy
Flask-WTF
Flask-Login

Flask
Flask-SQLAlchemy
Flask-WTF
Flask-Login
psycopg2-binary


Flask==2.2.5
Flask-Talisman==0.8.1
prometheus-client==0.15.0
Flask-WTF==1.0.1
gunicorn==20.1.0

